@import 'mixins';
@import 'variables';

.cartTotalsContainer {
    width: 100%;
    height: 100%;
    @include flex(center, center, column);

  
}
.cartTotalsContainerBtns {
    width: 100%;
    @include flex(center, space-around);
}

.cartTotalsTable {
    margin: 30px auto;
    width: 90%;
    height: 300px;
    border: $border;
    color: rgb(136, 136, 136);
}

.cartTotalsTitle {
    width: 100%;
    height: 70px;
    padding: 20px 40px 0 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: $border;
}

.cartTotalsInfo {
    width: 100%;
    min-height: 130px;
    height:auto;
    text-align: start;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    @include flex(center, space-around, column);
}
.cartTotalsInfoData {
    width: 40%;
    min-width: 230px;
    @include flex(center, space-between);
    opacity: 0.8;

}

.cartTotals {
    @extend .cartTotalsInfo;
    font-size: 25px;
    border-top: $border;

}