@import 'mixins';
@import 'variables';

.selectedOptionStyle {
    position: relative;
    width: 100%;
    height: 100%;
    @include flex;
    padding: 5px;
    color: grey;
    cursor: pointer;
}

.optionsStyle {
    position: absolute;
    top: 20px;
    min-width: 30px;
    width: auto;
    height: auto;
    text-align: start;
    background-color: white;
    padding: 10px 5px;
    box-shadow: $box-shadow;
}

.optionStyle {
    width: 100%;
    height: auto;
    color: gray;

    &:hover {
        color: white;
        background-color: grey;
    }
}