@import 'mixins';

.categoriesContainer {
  width: auto;
  min-width: 650px;
  @include flex ();
  div {
    text-transform: uppercase;
  }
   p {
    margin: 0 10px;
    cursor: pointer;
    &:hover {
        color: red;
    }
   }
}
.dashBoardLInk {
   margin: 0 10px;
    cursor: pointer;
    &:hover {
        color: red;
    }
}