.countrySelectContainer {
    width: 100px;
    height: 20px;
    text-align: center;
    color: grey;
    select {
        appearance: none;
        background-color: transparent;
        border: none;
        padding: 3px;
        outline: none;
        text-align: center;
        cursor: pointer;
        color: gray;
    }
    div {
        font-size: 10px;
    }
}