@import 'mixins';

.productsContainer {
   width: 97%;
   min-height: 100vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.parentCategoryNameStyle {
   position: relative;
   margin-bottom: 20px;
   top: 0;
   height: 20px;
   text-transform: uppercase;
   opacity: 0.4;
}