@import 'mixins';

.thirdLevelContainer{
    margin: 0 auto;
    min-height: 100vh;
    text-align: center;
    text-align: center;
    color: grey;
    text-transform: uppercase;
    h2 {
        margin-top: 10px;
    }    
}
.categoriesStyle{
    margin-top: 50px;
    @include flex ();
    div {
        margin: 0 10px;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
}