@import 'mixins';
$base-width: 100%;

.lineItemStyle {
    margin: 1em auto;
    width: $base-width;
    min-width: 400px;
    height: auto;
    padding: 0.3em;
    @include flex (center, space-around);
    border: 1px solid rgb(125, 125, 125, 0.4);
    font-size: calc($base-width * 0.85);
    div {
        color: grey;
        font-size: 0.9em;
    }
    img {
        margin: 0 0.5em;
        width: 1.6em;
        height: auto;
    }
}

.deleteLineItem {
    cursor: pointer;
    margin-right: 1em;
    &:hover {
        color: red;
    }
}

.description {
    margin: 0 1em;
    min-width: 60px;
    max-width: 120px;
    height: auto;
    max-height: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    /* width */
&::-webkit-scrollbar {
    width: 0.2em;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c7c7c7;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    
}

.priceStyle {
    min-width: 50px;
    padding: 0.3em;
    text-align: center;
    text-transform: uppercase;
}
.saleBage{
    @include flex ();
    border-radius: 10px;
    background-color: rgb(255, 255, 46, 0.9);
}
.quantityStyle {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    align-items: center;
    div {
        text-align: center;
        font-size: 1em;
    }
    button {
        width: 1.5em;
        height: auto;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: gray;
            color: white;
        }
    }
}

.total {
    text-align: center;
    min-width: 40px;
}