@import 'variables';

.languagesSelectContainer {
    width: auto;
    height: auto;
    text-align: center;
    select {
        appearance: none;
        background-color: transparent;
        border: none;
        padding: 3px;
        outline: none;
        text-align: center;
        color: grey;
        cursor: pointer;
    }

}