@import 'mixins';

.productCardContainer {
    width: 180px;
    height: auto;
    min-height: 200px;
    border: 1px solid grey;
}

.variantsContainer {
    width: 100%;
    @include flex();
}

.variantStyle {
    margin: 0 3px;
    cursor: pointer;
    color: grey;
}

.activVariantStyle {
    @extend .variantStyle;
    color: red;
} 