@import 'mixins';

.productCardContainer {
    width: 100%;
    min-width: 310px;
    height: 100%;
    min-height: 400px;
    max-height: 400px;
    padding: 10px 0;
    @include flex(center, center, column);
    &:hover {
        box-shadow: 0px 0px 10px rgb(228, 228, 228);
    }
}
.productNameStyle {
    text-transform: uppercase;
    color: grey;
    text-align: center;
    padding: 0 3px;
}

.variantsContainer {
    width: 100%;
    @include flex();
}

.variantStyle {
    font-size: 14px;
    margin: 0 3px;
    cursor: pointer;
    color: grey;
}

.activVariantStyle {
    @extend .variantStyle;
    color: red;
} 