@import 'mixins';

.productCardContainer {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: grid;
    grid-template-rows: 30px 45px 240px;
}

.productNameStyle {
    width: 98%;
    text-transform: uppercase;
    color: grey;
    text-align: center;
}

.variantsContainer {
    width: 100%;
    @include flex();
}

.variantStyle {
    font-size: 14px;
    margin: 0 3px;
    cursor: pointer;
    color: grey;
}

.activVariantStyle {
    @extend .variantStyle;
    color: red;
}