@import 'mixins';

.productInfoContainer {
    width: 100%;
    min-height: 100vh;
    @include flex(flex-start, center);
}
.variantStyle {
    width: 200px;
    height: auto;
    cursor: pointer;
}

.addToCardContainerStyle {
    position: relative;
    top: 400px;
    right: 150px;
}