@import 'mixins';
@import 'variables';

.cartContainer {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    @include flex (center, flex-start, column);

}


.cartTitle {
    width: 100%;
    height: 80px;
    @include flex (center, center, column);
    text-transform: uppercase;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    color: rgb(169, 169, 169);

    a {
        color: rgb(169, 169, 169);
        text-decoration: none;

        &:hover {
            color: red
        }
    }
}

.mainContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.leftSideContainer {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    @include flex(flex-start, center, column);
}

.lineItemsWrapperStyle {
  width: 100%;
  height: 220px;
}

.promoCodeContainer {
    width: 60%;
    height: 100px;
    @include flex ();

    input {
        width: 250px;
        height: 30px;
        border: none;
        outline: none;
        font-size: 20px;
        border-bottom: $border;
        color: rgb(136, 136, 136);
        &::-webkit-input-placeholder {
            color: rgb(73, 90, 38);
        }

    }
}
