    @import 'mixins';

    .miniModalConTainer{
        position: absolute;
        top: 0;
        right: 0;
        width: 400px;
        height: auto;
        min-height: 350px;
        text-align: center;
        background-color: rgb(161, 161, 161, 0.96);
        z-index: 10;
    }
    .miniModalClose {
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 1px 3px;
        font-size: 18px;
        font-weight: 500;
        color: white;
        cursor: pointer;
        &:hover {
            background-color: rgb(232, 232, 232);
            color: grey;
        }
    }
    .titleStyle{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
        color: rgb(91, 91, 91);
    }       
    .shoppingListsStyle{
        margin: 0 auto;
        width: 95%;
        height: auto;
        min-height: 150px;
        align-items: center;
    }
    .shoppingList{
        margin: 3px auto;
        width: 100%;   
    }
    .listItem{
        margin: auto 0;
        height: 40px;
        padding: 0 6px;
        font-size: 13px;
        display: grid;
        grid-template-columns: 0.5fr 1fr 1.5fr 1fr;
        align-items: center;
        justify-content: center;
        background-color: white;
    }
    .itemDelete{
        cursor: pointer;
        padding: 1px 3px;
        &:hover {
            background-color: grey;
            color: white;
        }
    }
    .ItemImages {
        width: 90px;
    }
    .itemName{
        text-transform: uppercase;
    }
    .itemPrice{
        font-size: 12px;
        font-weight: 300;
    }
    .buttonsContiner{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        @include flex(center, space-around);
        button {
            width: 130px;
            height: 40px;
            border: none;
            text-transform: uppercase;
            font-weight: 500;
            cursor: pointer;
            &:hover {
                background-color: rgb(59, 59, 59);
                color: white;
            }
        }
    }