
.languagesSelectContainer {
    width: auto;
    height: auto;
    text-align: center;
    border: 1px solid transparent;
}
.labelStyle {
    color: gray;
    font-size: 10px;
    letter-spacing: 2px;
}