@import 'mixins';
.formContainer{
 
form {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
  }

  div {
    margin-bottom: 10px;
  
    label {
      display: block;
      font-weight: bold;
    }
  
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      min-width: 300px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  
    &.inputRow {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      .inputContainer {
        width: calc(50% - 5px);
        margin-bottom: 5px;
        
        label {
          display: block;
          font-weight: bold;
        }
        
        input[type="text"] {
          width: 100%;
        }
        textarea {
          width: 200%;
        }
      }
    }
  }
  
}
