.description {
    margin: 0 1em;
    min-width: 120px;
    max-width: 120px;
    height: auto;
    max-height: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;

    /* width */
    &::-webkit-scrollbar {
        width: 0.2em;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #c7c7c7;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}