@import 'mixins';

.logoStyle {
    @include flex(center, center, column);
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: rgb(152, 152, 152);
    
    div {
      font-size: 0.29em;
      letter-spacing: 4px;
    }
  }